.container{z-index:1;position:relative;width:1000px;margin:auto;text-align:center;height:100%;}
.container.white{background-color: #ffffff;}
h1{font:inherit;vertical-align:baseline;color:#0099cc;}
