<br style="margin-top: 14%">
<img title="Fire" align="middle" src="/assets/fire.png" height="50" width="50" />
<p style="color: black; font-size: large"> Le détecteur de fumée de la salle {{incident.localisation}} s'est emballé, il se pourrait qu'il y ait le feu dans votre maison. </p>
<p style="color: black; font-size: large"> N'ayez craintes l'alarme est déjà activée. </p>
<style scoped>
  .button-error {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .button-error {
    background: rgb(202, 60, 60);
  }

</style>
<button class="button-error pure-button" style="margin-top: 10px"> Marquer comme traité </button>
